:root {
   /*Color*/
  --grey: #777777;
  --light: #7ed56f;
  --light-rgba: rgba(126, 213, 111, 0.8);
  --medium: #55c57a;
  --dark: #28b485;
  --dark-rgba: rgba(40, 180, 131, 0.8);
  --orange-light: #ffb900;
  --orange: #ff7730;
  --blue-light: #2998ff;
  --blue: #5643fa;
  --white: #ffffff;
  --grey-light: #f7f7f7;
  --black-rgba: rgba(0, 0, 0, 0.2);
  /*Text*/
  --default-text: 1.6rem;
  /*Grid*/
  --grid-width: 110rem;
  --gutter-vertical: 8rem;
  --gutter-horizontel: 6rem; 
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: var(--grey);
  padding: 3rem;
  box-sizing: border-box;
}
/***** Utilities *****/
.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
/***** Grid *****/
.row {
  max-width: var(--grid-width);
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: var(--gutter-vertical);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.col-1-of-2 {
  width: calc((100% - 6rem)/2);
  float: left;
}
.col-1-of-2:not(:last-child) {
  margin-right: var(--gutter-horizontel);
}
.col-1-of-3 {
  width: calc((100% - 2 * var(--gutter-horizontel))/3);
  float: left;
}
.col-1-of-3:not(:last-child) {
  margin-right: var(--gutter-horizontel);
}
.col-1-of-4 {
  width: calc((100% - 3 * var(--gutter-horizontel))/4);
  float: left;
}
.col-1-of-4:not(:last-child) {
  margin-right: var(--gutter-horizontel);
}
/***** Header Section *****/
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      var(--light-rgba),
      var(--dark-rgba)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: var(--white);
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /*
    animation-delay: 3s;
    animation-iteration-count: 3 ;
    */
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  font-weight: 700;
  animation: moveInRight 1s ease-in;
}
/*****Animated H1 *****/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/***** Animated Button *****/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/****** Button  ******/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  /* color: var(--grey); */
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem var(--black-rgba);
}
/* Button White */
a.btn--white {
  background-color: var(--white);
  color: var(--grey);
}
.btn--white::after {
  background-color: var(--white);
}
/* Button Green */
a.btn--green {
  background-color: var(--light);
  color: var(--white);
}
.btn--green::after {
  background-color: var(--light);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
/* Button Animated */
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
/* Button Form */
.btn--form,
.btn--form:link,
.btn--form:visited {
  background-color: var(--light);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn--form:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* .btn--form:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
.btn--form:active,
.btn--form:focus {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem var(--black-rgba);
  outline: none;
}
/* .btn--form::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
} */
/***** Section About *****/

.section-about {
  background-color: var(--grey-light);
  padding:   20rem 0 53rem;
  margin-top: -20vh;
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, var(--light),var(--dark));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem var(--black-rgba);
}
.heading-tertiary {
  font-size: var(--default-text);
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: var(--default-text);
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
.btn-text:link, :visited {
  color: var(--light);
  font-size: var(--default-text);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--light);
  padding: 3px;
  transition: all .2s;
}
.btn-text:hover {
background-color: var(--light);
color: var(--white);
box-shadow: 0 .5rem 2rem var(--black-rgba);
transform: translateY(-2px);
}
.btn-text:active {
box-shadow: 0 .5rem 1rem var(--black-rgba);
transform: translateY(0);
}

/***** Animation Image *****/

.composition {
  position: relative;
  
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem var(--black-rgba);
  position: absolute;
  z-index: 10;
  transition: all .2s;
  outline-offset: 2rem;
}
.composition__photo:hover {
  outline: 1.5rem solid var(--light) ;
  transform: scale(1.05) translateY(-.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5px);
  z-index: 20;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(.95);
}

/***** Section Features *****/
.section-features {
  padding: 20rem 0 50rem;
  background-image: linear-gradient(
    to right bottom,
    var(--light-rgba),
    var(--dark-rgba)),
  url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -9rem;
}
.section-features > * {
  transform: skewY(7deg);
}
.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform .3s;

}
.features-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.features-box>a{
  text-decoration: none;
  color: var(--light);
}
.features-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
}
/***** Section Tours *****/
.section-tours {
  background-color: var(--grey-light);
  padding: 20rem 0 10rem;
  margin-top: -9rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
   height: 52rem; /*move cards to the right*/
}
.card__side {  
  height: 52rem;
  transition: all 1s ease;
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.card__side--front {
  background-color: var(--white);
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-orange {
  background-image: linear-gradient(
    to right bottom,
    var(--orange-light),
    var(--orange));
}
.card__side--back-green {
  background-image: linear-gradient(
    to right bottom,
    var(--light),
    var(--dark));
}
.card__side--back-blue {
  background-image: linear-gradient(
    to right bottom,
    var(--blue-light),
    var(--blue));
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  
}
.card__picture--1 {
  background-image: linear-gradient(
    to right bottom,
    var(--orange-light),
    var(--orange)),
    url(../img/nat-5.jpg);
  
}
.card__picture--2 {
  background-image: linear-gradient(
    to right bottom,
    var(--light),
    var(--dark)),
    url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(
    to right bottom,
    var(--blue-light),
    var(--blue)),
    url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: var(--white);
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: .7rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--orange {
  background-image: linear-gradient(
    to right bottom,
    var(--orange-light, .85),
    var(--orange, .85));
}
.card__heading-span--green {
  background-image: linear-gradient(
    to right bottom,
    var(--light, .85),
    var(--dark, .85));
}
.card__heading-span--blue {
  background-image: linear-gradient(
    to right bottom,
    var(--blue-light, .85),
    var(--blue, .85));
}
.card__details {
  padding: 3rem;
}
.card__details > ul{
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details > ul>li{
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--grey);
}
.card__details > ul > li:not(:last-child){
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: var(--white);
}
.card__price-text {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
/***** Story section *****/
.section-stories {
  padding: 15rem 0;
  position: relative;
}
.story {
width: 75%;
margin: 0 auto;
box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
background-color: rgba(255, 255, 255, .6);
border-radius: 3px;
padding: 6rem;
padding-left: 9rem;
font-size: var(--default-text);
transform: skewX(-12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
-webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all .5s;
  backface-visibility: hidden;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, 20%);
 color: var(--white);
 text-transform: uppercase;
 font-size: 1.7rem;
 text-align: center;
 opacity: 0;
 transition: all .5s;
 
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}
/****** Background Video ******/
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/***** Book Section *****/
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    var(--light),
    var(--dark));
}
.book {
  background-image: linear-gradient(
    105deg,
    rgba(255,255,255,.9) 0%,
    rgba(255,255,255,.9) 50%,
    transparent 50%), 
    url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

  height: 50rem;
}
.book__form {
  width: 50%;
  padding: 6rem;
}
/* Book Form */

.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--light);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--orange);
}
.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}
/* Placeholder moves down */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: var(--default-text);
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--light);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
}
.form__radio-btn::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light);
  opacity: 0;
  transition: opacity .2s;
}
.form__radio-input:checked 
~ .form__radio-label 
.form__radio-btn::after {
  opacity: 1;
}